---
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="404 Error" description="404 Error, probably not found..">
  <section class="grid place-items-center text-center py-20">
    <Icon name="simple-icons:astro" class="w-32 h-32 mb-10" />
    <h1 class="text-6xl mb-5">404 Error</h1>
    <h2 class="text-xl mb-5">Are you lost or looking for some easter eggs?</h2>
    <a href="/"><button class="p-3 rounded-xl dark:bg-zinc-800 dark:hover:bg-zinc-700 bg-zinc-300 hover:bg-zinc-200 text-black dark:text-zinc-300 transition-colors">Go back to home</button></a>
  </section>
</Layout>