---
import { Icon } from "astro-icon";
---

<header class="flex justify-between items-center p-6 sticky top-0 dark:bg-zinc-900 bg-white max-w-4xl m-auto px-7 transition-colors !backdrop-blur-sm !bg-opacity-80">
  <h1 class="text-2xl font-bold"><a href="/">lanceross</a></h1>
  <button class="theme-toggle pointer" aria-label="theme toggle">
    <Icon name="akar-icons:moon" class="w-[26px] dark-btn hover:text-slate-500 dark:hover:text-slate-400 transition hover:scale-110 dark:hidden" />
    <Icon name="akar-icons:sun" class="w-[26px] light-btn dark:text-white hover:text-slate-500 dark:hover:text-slate-400 transition hover:scale-110 hidden dark:block" />
  </button>
</header>
